body{
font-family: Arial, Helvetica, sans-serif
}

.header {
  padding: 20px;
  border-bottom: 1px solid gray;
  text-align: center;
  flex: 0;
}

.header-link {
  margin: 0 10px;
}

.wrapper{
min-height: 100%;
overflow: hidden;
display: flex;
flex-direction: column;
}

.container{
max-width: 1080px;
margin: 0px auto;
}

.content{
padding-bottom: 90px;
}

.hi{
background-color: #445162;
padding: 50px 0;
}

.hi__row{
display: flex;
justify-content: space-between;

}

.hi__body{
color: #fcfdc6;
padding: 0px 30px 0px 0px;
}

.hi__title{
font-size: 40px;
text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
margin: 0px 0px 38px 0px;
}
.hi__list{

}
.hi__list li{
background: url('../icons/icons.png')  0 1px no-repeat;
text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
font-size: 20px;
line-height: 22px;
padding: 0px 0px 0px 36px;
margin: 0px 0px 15px 0px ;
}

.hi__list li:last-child{
  margin: 0px;
}

.hi__image{

}
.contacts{
  max-width: 1080px;
margin: 0px auto;
  color: chocolate;
  font-size: 20px;
}

.footer{
background-color: #f5f5f5;
position:absolute;
left: 0;
bottom: 0;
width: 100%;
height: 65px;
}

.footer__row {
display: flex;
height: 65px;
justify-content: center;
align-items: center;
}
.footer__text{
font-size: 12px;
color: #445162;
letter-spacing: 0.3px;
}
